.venv
.DS_Store
.vscode
rag-pipeline/models
rag-pipeline/vector_store
rag-pipeline/test/__pycache__
rag-pipeline/test/.pytest_cache
rag-pipeline/src/__pycache__
rag-pipeline/reports
rag-pipeline/test-results.xml
rag-pipeline/.pytest_cache
rag-pipeline/.coverage
rag-pipeline/.coverage.*